/* ABOUT START */
.about {
    background-image: url('../img/pattern-1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &__content {
        & p {
            font-size: 30px;
            line-height: 42px;
            color: #464b4f;
            text-align: center;
            margin-bottom: 40px;
        }
    }
}


/* SECTION TITLE */
.section__title{
    & h2{
        font-size: 80px;
        font-weight: 700;
        text-transform: uppercase;
    }
}